<div class="container mt-3">
    <div class="row">
        <div class="card col-md-12 mb-8">
            <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-2">
                    <button class="btn btn-primary mr-2 w-25">
                        Anterior
                    </button>
                    <span class="mx-2">
                        <strong>pagina: </strong>
                    </span>
                    <button class="btn btn-primary mr-2 w-25">
                        Siguiente
                    </button>
                </div>
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Buscar Producto" />
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>